body {
    font-family: "Open Sans";
    margin: 0;
    color: black;
}
.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat;
}
.screen {
    position: absolute;
    width: 100%;
    height: 100%;
}
.dialog {
    position: absolute;
    width: 260px;
    padding: 20px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    top: 20%;
}
h1, h2, h3 {
    margin-top: 0;
}
input[type="text"] {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 2px;
    font-size: 125%;
    padding: 2px;
    box-shadow: inset 1px 1px 10px #ddd;
    color: black;
}
.dialog input {
    margin-bottom: 10px;
    width: 95%;
}
button {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
button:hover {
    background: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e8e8e8 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%);
}
.boxlayout {
    text-align: center;
}
.box {
    text-align: left;
    width: 25%;
    display: inline-block;
    height: 400px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    min-width: 280px;
    overflow-y: auto;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 10px #ddd;
    vertical-align: top;
}
.stat {
    display: block;
}
